{% load static from staticfiles %}
<body style="background-image: url('{% static 'images/sg.jpg'%}')">

{% extends 'base.html' %}


{% block content %}

    <div class="row">        
        <div class="col-md-6">
            <div class="About-header">
            <h2>Proudly Endorsed by:</h2>
            <div class="col-md-6">
            <img class="image1" src="{% static 'media/images/fender.jpg' %}" width="250" height="170" alt="no pic">
            </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-6">
            <div class="About-header">
            
            <div class="col-md-6">
            <img class="image1" src="{% static 'media/images/gibson.jpg' %}" width="250" height="170" alt="no pic">
            </div>

            </div>
        </div>
    </div>

    <div class="row">
    <div class="col-md-6">
        <div class="About-header">
        
        <div class="col-md-6">
        <img class="image1" src="{% static 'media/images/mesa.jpg' %}" width="250" height="170" alt="no pic">
        </div>

        </div>
    </div>
    </div>

    <div class="row">
    <div class="col-md-6">
        <div class="About-header">
        
        <div class="col-md-6">
        <img class="image1" src="{% static 'media/images/ernie.jpg' %}" width="250" height="170" alt="no pic">
        </div>

        </div>
    </div>
</div>
</body>
{% endblock content  %}