body{
    background-color: black;
    background-size: cover;
}




h1, .h1 {
    font-size: 36px;
    text-align: left;
    font-family: 'Syncopate', sans-serif;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


a {
    color: white;
    text-decoration: none;
    position: left;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    left: -390px;
    font-family: 'Syncopate', sans-serif;
}

p {
    
    color: white;
}

p3 {
    color: white;
    position: relative;
    left: -225px;
}

td, th {
    padding: 0;
    
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}



/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

.fa-facebook {

 padding: 20px;
 font-size: 20px;
 width: 30px;
 text-align: left;
 margin-top: -100px;
 left: -10px;
 position: relative;
 
 

}

/* Twitter */
.fa-twitter {

 padding: 20px;
  font-size: 20px;
  width: 10px;
  text-align: right;
  text-decoration: none;
  position: relative;
  left: -10px;
}



.fa-instagram{
  padding: 20px;
  font-size: 20px;
  width: 10px;
  text-align: right;
  text-decoration: none;
  position: relative;
  left: -10px;
  
}

.email{
  color: white;
  text-align: right;
  margin-top: -30px;
}

h3, .h3 {
    font-size: 44px;
    font-family: 'Great Vibes', cursive;
    color: red;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    position: relative;
    left: -10px;
}

h2, .h2 {
    font-size: 44px;
    font-family: 'Great Vibes', cursive;
    color: red;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    position: relative;
    left: -225px;
}




img.image1{
    position: relative;
    left: -250px;
}







